<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div>
       <a class="nav-link active" style="color: black;" aria-current="page"  routerLink="/Home">
        <strong><i class="bi bi-arrow-left"></i> Back</strong> </a>

      </div>
        <div class="text-center mb-5">
            <h2 class="fw-bolder">{{cocktail.strDrink}}</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Pricing card free-->
            <div class="col-lg-12 col-xl-12 mb-5" >
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <img class="rounded mx-auto d-block mb-5" [src]="cocktail.strDrinkThumb" height="300px" width="300px" alt="" srcset="">
                        <div class="small text-uppercase fw-bold text-muted">{{cocktail.strDrink}}</div>
                        <p class="card-text">{{cocktail.strInstructions}}</p>
                        <div class="mb-3">
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i [class]="(cocktail.strIngredient1 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                <strong>{{cocktail.strIngredient1}}</strong>
                            </li>
                            <li class="mb-2">
                                <i [class]="(cocktail.strIngredient2 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient2}}
                            </li>
                            <li class="mb-2">
                                <i [class]="(cocktail.strIngredient3 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient3}}
                            </li>
                            <li class="mb-2">
                                <i [class]="(cocktail.strIngredient4 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient4}}
                            </li>
                            <li class="mb-2 text-muted">
                                <i [class]="(cocktail.strIngredient5 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient5}}
                            </li>
                            <li class="mb-2 text-muted">
                                <i [class]="(cocktail.strIngredient6 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient6}}
                            </li>
                            <li class="mb-2 text-muted">
                                <i [class]="(cocktail.strIngredient7 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient7}}
                            </li>
                            <li class="text-muted">
                                <i [class]="(cocktail.strIngredient8 == null)? 'bi bi-x': 'bi bi-check text-primary'"></i>
                                {{cocktail.strIngredient8}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

